Repository stride3d/stride, pull requests merged in 2025-05, with the labels that each got.

#2762 ⬇️🟢𝐒 New launcher bug fixes
  sources/launcher/Stride.Launcher/Stride.Launcher.csproj
  sources/launcher/Stride.Launcher/Views/MainView.axaml
Labels: area-Launcher, work-estimate-S, bug-fix

#2756 feat: node commands and updaters (property grid)
  sources/Directory.Packages.props
  sources/editor/Stride.Assets.Editor.Avalonia/StrideEditorViewPlugin.cs
  sources/editor/Stride.Assets.Editor.Avalonia/Views/EntityPropertyTemplateProviders.axaml
  sources/editor/Stride.Assets.Editor/Quantum/NodePresenters/Commands/FetchEntityCommand.cs
  sources/editor/Stride.Assets.Editor/Quantum/NodePresenters/Commands/SetComponentReferenceCommand.cs
  sources/editor/Stride.Assets.Editor/Quantum/NodePresenters/Commands/SetEntityReferenceCommand.cs
  sources/editor/Stride.Assets.Editor/Quantum/NodePresenters/Keys/CameraSlotData.cs
  sources/editor/Stride.Assets.Editor/Quantum/NodePresenters/Keys/EntityHierarchyData.cs
  sources/editor/Stride.Assets.Editor/Quantum/NodePresenters/Keys/MaterialData.cs
  sources/editor/Stride.Assets.Editor/Quantum/NodePresenters/Updaters/AnimationAssetNodeUpdater.cs
  sources/editor/Stride.Assets.Editor/Quantum/NodePresenters/Updaters/CameraSlotNodeUpdater.cs
  sources/editor/Stride.Assets.Editor/Quantum/NodePresenters/Updaters/EntityHierarchyAssetNodeUpdater.cs
  sources/editor/Stride.Assets.Editor/Quantum/NodePresenters/Updaters/GameSettingsAssetNodeUpdater.cs
  sources/editor/Stride.Assets.Editor/Quantum/NodePresenters/Updaters/GraphicsCompositorAssetNodeUpdater.cs
  sources/editor/Stride.Assets.Editor/Quantum/NodePresenters/Updaters/MaterialAssetNodeUpdater.cs
  sources/editor/Stride.Assets.Editor/Quantum/NodePresenters/Updaters/ModelAssetNodeUpdater.cs
  sources/editor/Stride.Assets.Editor/Quantum/NodePresenters/Updaters/SkeletonAssetNodeUpdater.cs
  sources/editor/Stride.Assets.Editor/Quantum/NodePresenters/Updaters/SpriteSheetAssetNodeUpdater.cs
  sources/editor/Stride.Assets.Editor/Quantum/NodePresenters/Updaters/TextureAssetNodeUpdater.cs
  sources/editor/Stride.Assets.Editor/Quantum/NodePresenters/Updaters/UIAssetNodeUpdater.cs
  sources/editor/Stride.Assets.Editor/Quantum/NodePresenters/Updaters/UnloadableObjectPropertyNodeUpdater.cs
  sources/editor/Stride.Assets.Editor/Quantum/NodePresenters/Updaters/VideoAssetNodeUpdater.cs
  sources/editor/Stride.Assets.Editor/StrideEditorPlugin.cs
  sources/editor/Stride.Assets.Editor/ViewModels/ComponentReferenceViewModel.cs
  sources/editor/Stride.Assets.Editor/ViewModels/EntityReferenceViewModel.cs
  sources/editor/Stride.Assets.Presentation/ViewModels/EntityViewModel.cs
  sources/editor/Stride.Core.Assets.Editor.Avalonia/StrideCoreEditorViewPlugin.cs
  sources/editor/Stride.Core.Assets.Editor.Avalonia/Views/DefaultPropertyTemplateProviders.axaml
  sources/editor/Stride.Core.Assets.Editor/AssetsEditorPlugin.cs
  sources/editor/Stride.Core.Assets.Editor/Extensions/NodePresenterExtensions.cs
  sources/editor/Stride.Core.Assets.Editor/Quantum/NodePresenters/Commands/ChangeValueCommandBase.cs
  sources/editor/Stride.Core.Assets.Editor/Quantum/NodePresenters/Commands/FetchAssetCommand.cs
  sources/editor/Stride.Core.Assets.Editor/Quantum/NodePresenters/Keys/CategoryData.cs
  sources/editor/Stride.Core.Assets.Editor/Services/IAssetEditorsManager.cs
  sources/editor/Stride.Core.Assets.Editor/Services/IAssetsPluginService.cs
  sources/editor/Stride.Core.Assets.Editor/ViewModels/AssetCollectionViewModel.cs
  sources/editor/Stride.Core.Assets.Editor/ViewModels/AssetCompositeHierarchyEditorViewModel.cs
  sources/editor/Stride.Core.Assets.Editor/ViewModels/EditorCollectionViewModel.cs
  sources/editor/Stride.Core.Assets.Editor/ViewModels/SessionNodeContainer.cs
  sources/editor/Stride.Core.Assets.Editor/ViewModels/SessionViewModel.cs
  sources/editor/Stride.GameStudio.Avalonia/Services/PluginService.cs
  sources/presentation/Stride.Core.Presentation.Avalonia/Behaviors/ChangePropertyAction.cs
  sources/presentation/Stride.Core.Presentation.Avalonia/Behaviors/ComparisonConditionTypeHelper.cs
  sources/presentation/Stride.Core.Presentation.Avalonia/Behaviors/DataTriggerBehavior.cs
  sources/presentation/Stride.Core.Presentation.Avalonia/Behaviors/TypeConverterHelper.cs
  sources/presentation/Stride.Core.Presentation.Quantum/ObjectGraphNodeBinding.cs
Labels: area-GameStudio, work-estimate-M

#2759 feat: undo/redo & action history panel
  sources/assets/Stride.Core.Assets.Quantum/IAssetObjectNode.cs
  sources/assets/Stride.Core.Assets.Quantum/Internal/AssetBoxedNode.cs
  sources/assets/Stride.Core.Assets.Quantum/Internal/AssetObjectNode.cs
  sources/assets/Stride.Core.Assets.Quantum/Internal/AssetObjectNodeExtended.cs
  sources/core/Stride.Core.Reflection/TypeDescriptors/ArrayDescriptor.cs
  sources/editor/Stride.Core.Assets.Editor.Avalonia/Views/ImageResources.axaml
  sources/editor/Stride.Core.Assets.Editor.Tests/TestArchetypesBasicUndoRedo.cs
  sources/editor/Stride.Core.Assets.Editor/Components/Properties/SessionObjectPropertiesViewModel.cs
  sources/editor/Stride.Core.Assets.Editor/Components/Transactions/ActionHistoryViewModel.cs
  sources/editor/Stride.Core.Assets.Editor/Components/Transactions/TransactionViewModel.cs
  sources/editor/Stride.Core.Assets.Editor/ViewModels/SessionViewModel.cs
  sources/editor/Stride.Core.Assets.Editor/ViewModels/SessionViewModel.static.cs
  sources/editor/Stride.Core.Assets.Presentation/Quantum/AssetContentValueChangeOperation.cs
  sources/editor/Stride.Core.Assets.Presentation/Quantum/ContentValueChangeOperation.cs
  sources/editor/Stride.Core.Assets.Presentation/Quantum/ViewModels/AssetNodeViewModel.cs
  sources/editor/Stride.Core.Assets.Presentation/Quantum/ViewModels/AssetNodeViewModelFactory.cs
  sources/editor/Stride.Core.Assets.Presentation/ViewModels/AssetViewModel.cs
  sources/editor/Stride.GameStudio.Avalonia/Views/MainView.axaml
  sources/editor/Stride.GameStudio.Avalonia/Views/MainView.axaml.cs
  sources/presentation/Stride.Core.Presentation/ViewModels/EditableViewModel.cs
  sources/presentation/Stride.Core.Quantum/IObjectNode.cs
  sources/presentation/Stride.Core.Quantum/ObjectNode.cs
Labels: area-GameStudio, work-estimate-M

#2754 fix: Bepu, validate Debug.Assert and remove as the logic was mistakenly inverted
  sources/engine/Stride.BepuPhysics/Stride.BepuPhysics/Definitions/Raycast/RayHitsStackHandler.cs
Labels: area-Physics

#2765 fix: Slider put in Canvas NaN Exception
  sources/engine/Stride.UI/UIElement.cs
Labels: area-UI

#2755 fix: compile.bat error when computing duration (#2733)
  build/compile.bat
Labels: area-Build

#2763 docs: Add documentation to bepu constraints
  sources/engine/Stride.BepuPhysics/Stride.BepuPhysics/Constraints/AngularAxisGearMotorConstraintComponent.cs
  sources/engine/Stride.BepuPhysics/Stride.BepuPhysics/Constraints/AngularAxisMotorConstraintComponent.cs
  sources/engine/Stride.BepuPhysics/Stride.BepuPhysics/Constraints/AngularHingeConstraintComponent.cs
  sources/engine/Stride.BepuPhysics/Stride.BepuPhysics/Constraints/AngularMotorConstraintComponent.cs
  sources/engine/Stride.BepuPhysics/Stride.BepuPhysics/Constraints/AngularServoConstraintComponent.cs
  sources/engine/Stride.BepuPhysics/Stride.BepuPhysics/Constraints/AngularSwivelHingeConstraintComponent.cs
  sources/engine/Stride.BepuPhysics/Stride.BepuPhysics/Constraints/AreaConstraintComponent.cs
  sources/engine/Stride.BepuPhysics/Stride.BepuPhysics/Constraints/BallSocketConstraintComponent.cs
  sources/engine/Stride.BepuPhysics/Stride.BepuPhysics/Constraints/BallSocketMotorConstraintComponent.cs
  sources/engine/Stride.BepuPhysics/Stride.BepuPhysics/Constraints/BallSocketServoConstraintComponent.cs
  sources/engine/Stride.BepuPhysics/Stride.BepuPhysics/Constraints/CenterDistanceConstraintComponent.cs
  sources/engine/Stride.BepuPhysics/Stride.BepuPhysics/Constraints/CenterDistanceLimitConstraintComponent.cs
  sources/engine/Stride.BepuPhysics/Stride.BepuPhysics/Constraints/DistanceLimitConstraintComponent.cs
  sources/engine/Stride.BepuPhysics/Stride.BepuPhysics/Constraints/DistanceServoConstraintComponent.cs
  sources/engine/Stride.BepuPhysics/Stride.BepuPhysics/Constraints/HingeConstraintComponent.cs
  sources/engine/Stride.BepuPhysics/Stride.BepuPhysics/Constraints/IMotor.cs
  sources/engine/Stride.BepuPhysics/Stride.BepuPhysics/Constraints/IOneBody.cs
  sources/engine/Stride.BepuPhysics/Stride.BepuPhysics/Constraints/IServo.cs
  sources/engine/Stride.BepuPhysics/Stride.BepuPhysics/Constraints/ISpring.cs
  sources/engine/Stride.BepuPhysics/Stride.BepuPhysics/Constraints/ITwoBody.cs
  sources/engine/Stride.BepuPhysics/Stride.BepuPhysics/Constraints/IWithTwoLocalOffset.cs
  sources/engine/Stride.BepuPhysics/Stride.BepuPhysics/Constraints/LinearAxisLimitConstraintComponent.cs
  sources/engine/Stride.BepuPhysics/Stride.BepuPhysics/Constraints/LinearAxisMotorConstraintComponent.cs
  sources/engine/Stride.BepuPhysics/Stride.BepuPhysics/Constraints/LinearAxisServoConstraintComponent.cs
  sources/engine/Stride.BepuPhysics/Stride.BepuPhysics/Constraints/OneBodyAngularMotorConstraintComponent.cs
  sources/engine/Stride.BepuPhysics/Stride.BepuPhysics/Constraints/OneBodyAngularServoConstraintComponent.cs
  sources/engine/Stride.BepuPhysics/Stride.BepuPhysics/Constraints/OneBodyLinearMotorConstraintComponent.cs
  sources/engine/Stride.BepuPhysics/Stride.BepuPhysics/Constraints/OneBodyLinearServoConstraintComponent.cs
  sources/engine/Stride.BepuPhysics/Stride.BepuPhysics/Constraints/PointOnLineServoConstraintComponent.cs
  sources/engine/Stride.BepuPhysics/Stride.BepuPhysics/Constraints/SwingLimitConstraintComponent.cs
  sources/engine/Stride.BepuPhysics/Stride.BepuPhysics/Constraints/SwivelHingeConstraintComponent.cs
  sources/engine/Stride.BepuPhysics/Stride.BepuPhysics/Constraints/TwistLimitConstraintComponent.cs
  sources/engine/Stride.BepuPhysics/Stride.BepuPhysics/Constraints/TwistMotorConstraintComponent.cs
  sources/engine/Stride.BepuPhysics/Stride.BepuPhysics/Constraints/TwistServoConstraintComponent.cs
  sources/engine/Stride.BepuPhysics/Stride.BepuPhysics/Constraints/VolumeConstraintComponent.cs
  sources/engine/Stride.BepuPhysics/Stride.BepuPhysics/Constraints/WeldConstraintComponent.cs
Labels: area-Physics

#2126 [Input] Prevent locking the mouse cursor when selecting
  sources/editor/Stride.Assets.Presentation/AssetEditors/EntityHierarchyEditor/Game/EditorGameEntityCameraService.cs
Labels: area-GameStudio

#2775 fix: Bepu, fix constraint tracking
  sources/engine/Stride.BepuPhysics/Stride.BepuPhysics/BodyComponent.cs
  sources/engine/Stride.BepuPhysics/Stride.BepuPhysics/Constraints/_ConstraintComponent.cs
Labels: area-Physics

#2774 fix: TransformProcessor.cs - Correct method name typo
  sources/engine/Stride.Engine/Engine/Processors/TransformProcessor.cs
Labels: area-Core

#2773 feat: Update README.md - Add a blank space
  README.md
Labels: area-Doc

#2777 fix: Bepu, ctor with valid orientation for constraints
  sources/engine/Stride.BepuPhysics/Stride.BepuPhysics/Constraints/AngularServoConstraintComponent.cs
  sources/engine/Stride.BepuPhysics/Stride.BepuPhysics/Constraints/IServo.cs
  sources/engine/Stride.BepuPhysics/Stride.BepuPhysics/Constraints/OneBodyAngularServoConstraintComponent.cs
  sources/engine/Stride.BepuPhysics/Stride.BepuPhysics/Constraints/TwistLimitConstraintComponent.cs
  sources/engine/Stride.BepuPhysics/Stride.BepuPhysics/Constraints/TwistServoConstraintComponent.cs
  sources/engine/Stride.BepuPhysics/Stride.BepuPhysics/Constraints/WeldConstraintComponent.cs
  sources/engine/Stride.BepuPhysics/Stride.BepuPhysics/Constraints/_OneBodyConstraintComponent.cs
  sources/engine/Stride.BepuPhysics/Stride.BepuPhysics/Constraints/_TwoBodyConstraintComponent.cs
Labels: area-Physics

#2778 feat: CompoundCollider.cs - Add XML documentation comments
  sources/engine/Stride.BepuPhysics/Stride.BepuPhysics/Definitions/Colliders/CompoundCollider.cs
Labels: area-Doc

#2764 feat: property grid improvements
  sources/editor/Stride.Assets.Editor.Avalonia/EditorViewSelector.cs
  sources/editor/Stride.Assets.Editor.Avalonia/Stride.Assets.Editor.Avalonia.csproj
  sources/editor/Stride.Assets.Editor.Avalonia/Views/EntityPropertyTemplateProviders.axaml
  sources/editor/Stride.Core.Assets.Editor.Avalonia/Behaviors/PropertyViewAutoExpandNodesBehavior.cs
  sources/editor/Stride.Core.Assets.Editor.Avalonia/Stride.Core.Assets.Editor.Avalonia.csproj
  sources/editor/Stride.Core.Assets.Editor.Avalonia/Views/DefaultPropertyTemplateProviders.axaml
  sources/editor/Stride.Editor.Avalonia/Stride.Editor.Avalonia.csproj
  sources/editor/Stride.GameStudio.Avalonia/Controls/DebugLogUserControl.axaml
  sources/editor/Stride.GameStudio.Avalonia/Stride.GameStudio.Avalonia.csproj
  sources/editor/Stride.GameStudio.Avalonia/Themes/DefaultStyles.axaml
  sources/editor/Stride.GameStudio.Avalonia/Views/AssetExplorerView.axaml
  sources/editor/Stride.GameStudio.Avalonia/Views/DebugWindow.axaml
  sources/editor/Stride.GameStudio.Avalonia/Views/EditorCollectionView.axaml
  sources/editor/Stride.GameStudio.Avalonia/Views/MainView.axaml
  sources/editor/Stride.GameStudio.Avalonia/Views/MainWindow.axaml
  sources/editor/Stride.GameStudio.Avalonia/Views/PropertyGridView.axaml
  sources/presentation/Stride.Core.Presentation.Avalonia/Behaviors/BindCurrentToolTipStringBehavior.cs
  sources/presentation/Stride.Core.Presentation.Avalonia/Controls/NumericTextBox.cs
  sources/presentation/Stride.Core.Presentation.Avalonia/Controls/NumericTextBoxValueChangedEventArgs.cs
  sources/presentation/Stride.Core.Presentation.Avalonia/Controls/PropertyView.cs
  sources/presentation/Stride.Core.Presentation.Avalonia/Controls/PropertyViewItem.cs
  sources/presentation/Stride.Core.Presentation.Avalonia/Controls/PropertyViewItemEventArgs.cs
  sources/presentation/Stride.Core.Presentation.Avalonia/Controls/VectorEditorBase.cs
  sources/presentation/Stride.Core.Presentation.Avalonia/Stride.Core.Presentation.Avalonia.csproj
  sources/presentation/Stride.Core.Presentation.Avalonia/Windows/CheckedMessageBox.axaml
  sources/presentation/Stride.Core.Presentation.Avalonia/Windows/MessageBox.axaml
Labels: enhancement, area-GameStudio

#2789 feat: Add CI workflows
  .github/workflows/build-assembly-processor.yml
  .github/workflows/build-linux.yml
  .github/workflows/build-vs-package.yml
  .github/workflows/build-windows.yml
  .github/workflows/main.yml
  .github/workflows/test-windows.yml
Labels: enhancement, area-Build, engineering

#2771 feat: Add more window api
  sources/engine/Stride.Games/Desktop/GameWindowWinforms.cs
  sources/engine/Stride.Games/GameWindow.cs
  sources/engine/Stride.Games/SDL/GameWindowSDL.cs
  sources/engine/Stride.Graphics/SDL/Window.cs
Labels: area-Graphics

#2783 fix: [Launcher] Fix build after #2658 and #2683
  sources/launcher/Stride.Launcher/Stride.Launcher.csproj
  sources/launcher/Stride.Launcher/ViewModels/LauncherViewModel.cs
  sources/launcher/Stride.Launcher/Views/LauncherWindow.xaml.cs
Labels: area-Launcher, bug-fix

#2791 fix: UI depth bias does not account for facing direction
  sources/engine/Stride.Graphics/UIBatch.cs
Labels: area-UI

#2788 feat: Improve ToString performance for Core.Mathematics structs
  build/Stride.sln
  sources/core/Stride.Core.Design.Tests/TestTypeConverter.cs
  sources/core/Stride.Core.Mathematics.Tests/TestToString.cs
  sources/core/Stride.Core.Mathematics/AngleSingle.cs
  sources/core/Stride.Core.Mathematics/BoundingBox.cs
  sources/core/Stride.Core.Mathematics/BoundingBoxExt.cs
  sources/core/Stride.Core.Mathematics/BoundingSphere.cs
  sources/core/Stride.Core.Mathematics/Color3.cs
  sources/core/Stride.Core.Mathematics/Color4.cs
  sources/core/Stride.Core.Mathematics/ColorBGRA.cs
  sources/core/Stride.Core.Mathematics/ColorHSV.cs
  sources/core/Stride.Core.Mathematics/Double2.cs
  sources/core/Stride.Core.Mathematics/Double3.cs
  sources/core/Stride.Core.Mathematics/Double4.cs
  sources/core/Stride.Core.Mathematics/Half.cs
  sources/core/Stride.Core.Mathematics/Half2.cs
  sources/core/Stride.Core.Mathematics/Half3.cs
  sources/core/Stride.Core.Mathematics/Half4.cs
  sources/core/Stride.Core.Mathematics/Int2.cs
  sources/core/Stride.Core.Mathematics/Int3.cs
  sources/core/Stride.Core.Mathematics/Int4.cs
  sources/core/Stride.Core.Mathematics/Matrix.cs
  sources/core/Stride.Core.Mathematics/Plane.cs
  sources/core/Stride.Core.Mathematics/Point.cs
  sources/core/Stride.Core.Mathematics/Quaternion.cs
  sources/core/Stride.Core.Mathematics/Ray.cs
  sources/core/Stride.Core.Mathematics/Rectangle.cs
  sources/core/Stride.Core.Mathematics/RectangleF.cs
  sources/core/Stride.Core.Mathematics/Size2.cs
  sources/core/Stride.Core.Mathematics/Size2F.cs
  sources/core/Stride.Core.Mathematics/Size3.cs
  sources/core/Stride.Core.Mathematics/UInt4.cs
  sources/core/Stride.Core.Mathematics/Vector2.cs
  sources/core/Stride.Core.Mathematics/Vector3.cs
  sources/core/Stride.Core.Mathematics/Vector4.cs
Labels: enhancement, bug-fix

#2794 feat: Improve CI workflows
  .github/workflows/build-android.yml
  .github/workflows/build-ios.yml
  .github/workflows/build-launcher.yml
  .github/workflows/build-linux-runtime.yml
  .github/workflows/build-linux.yml
  .github/workflows/build-vs-package.yml
  .github/workflows/build-windows-full.yml
  .github/workflows/build-windows-runtime.yml
  .github/workflows/build-windows.yml
  .github/workflows/main.yml
  .github/workflows/test-linux.yml
  build/Stride.Runtime.sln
Labels: enhancement, area-Build, engineering

#2795 feat: Launcher - "Visual Studio Extensions" section only visible on Windows
  sources/launcher/Stride.Launcher/Views/MainView.axaml
  sources/presentation/Stride.Core.Presentation.Avalonia/Services/OperatingSystemHelper.cs
Labels: area-Launcher, work-estimate-S
