Repository stride3d/stride, pull requests merged in 2025-08, with the labels that each got.

#2848 fix: Bepu and InputSystem update order
  sources/engine/Stride.BepuPhysics/Stride.BepuPhysics/Definitions/SystemsOrderHelper.cs
  sources/engine/Stride.Engine/Engine/InputSystem.cs
Labels: area-Physics

#2847 Typo: Rename _nativeIntertia to _nativeInertia
  sources/engine/Stride.BepuPhysics/Stride.BepuPhysics/BodyComponent.cs
Labels: area-Doc

#2838 fix: Bepu, normalize default servo settings across servo constraints
  sources/engine/Stride.BepuPhysics/Stride.BepuPhysics/Constraints/OneBodyAngularServoConstraintComponent.cs
  sources/engine/Stride.BepuPhysics/Stride.BepuPhysics/Constraints/OneBodyLinearServoConstraintComponent.cs
Labels: area-Physics

#2870 Add 'behavioral-change' label to breaking changes
  .github/release.yml
Labels: area-Doc, engineering
