Repository stride3d/stride, pull requests merged in 2025-03, with the labels that each got.

#2659 feat: Run core tests on Linux
  build/Stride.UnitTests.Build.targets
  sources/Directory.Packages.props
  sources/assets/Stride.Core.Assets.Quantum.Tests/Stride.Core.Assets.Quantum.Tests.csproj
  sources/assets/Stride.Core.Assets.Tests/Stride.Core.Assets.Tests.csproj
  sources/buildengine/Stride.Core.BuildEngine.Tests/Stride.Core.BuildEngine.Tests.csproj
  sources/core/Stride.Core.CompilerServices.Tests/Stride.Core.CompilerServices.Tests.csproj
  sources/core/Stride.Core.Design.Tests/Stride.Core.Design.Tests.csproj
  sources/core/Stride.Core.Mathematics.Tests/Stride.Core.Mathematics.Tests.csproj
  sources/core/Stride.Core.Tests/Stride.Core.Tests.csproj
  sources/core/Stride.Core.Yaml.Tests/Stride.Core.Yaml.Tests.csproj
  sources/presentation/Stride.Core.Presentation.Quantum.Tests/Stride.Core.Presentation.Quantum.Tests.csproj
  sources/presentation/Stride.Core.Quantum.Tests/Stride.Core.Quantum.Tests.csproj
  sources/shared/tests/xunit/LauncherGame.Desktop.cs
  sources/shared/tests/xunit/LauncherSimple.Desktop.cs
  sources/targets/Stride.UnitTests.targets
Labels: area-Core

#2673 fix: Fix crash when deleting a folder of assets
  sources/assets/Stride.Core.Assets.Quantum/AssetCompositeHierarchyPropertyGraph.cs
  sources/assets/Stride.Core.Assets/AssetReferenceDataSerializer.cs
Labels: area-Asset

#2633 docs: XML Comments added for Bepu Constraints
  sources/engine/Stride.BepuPhysics/Stride.BepuPhysics/Constraints/BallSocketConstraintComponent.cs
  sources/engine/Stride.BepuPhysics/Stride.BepuPhysics/Constraints/CenterDistanceConstraintComponent.cs
  sources/engine/Stride.BepuPhysics/Stride.BepuPhysics/Constraints/CenterDistanceLimitConstraintComponent.cs
  sources/engine/Stride.BepuPhysics/Stride.BepuPhysics/Constraints/DistanceLimitConstraintComponent.cs
  sources/engine/Stride.BepuPhysics/Stride.BepuPhysics/Constraints/DistanceServoConstraintComponent.cs
  sources/engine/Stride.BepuPhysics/Stride.BepuPhysics/Constraints/OneBodyAngularServoConstraintComponent.cs
Labels: area-Physics

#2691 fix: Prevent editor-inserted filters from persisting across views
  sources/editor/Stride.Core.Assets.Editor/ViewModel/AssetCollectionViewModel.cs
Labels: area-GameStudio
