Repository stride3d/stride, pull requests merged in 2025-06, with the labels that each got.

#2807 feat: GitHub CI concurrency
  .github/workflows/build-android.yml
  .github/workflows/build-assembly-processor.yml
  .github/workflows/build-ios.yml
  .github/workflows/build-launcher.yml
  .github/workflows/build-linux-runtime.yml
  .github/workflows/build-vs-package.yml
  .github/workflows/build-windows-full.yml
  .github/workflows/build-windows-runtime.yml
  .github/workflows/main.yml
  .github/workflows/test-linux.yml
  .github/workflows/test-windows.yml
Labels: enhancement, area-Build

#2816 feat: Settings Window
  sources/core/Stride.Core.Design/Settings/SettingsKey.cs
  sources/core/Stride.Core.Design/Settings/SettingsProfile.cs
  sources/editor/Stride.Core.Assets.Editor.Avalonia/Converters/NodePathToObject.cs
  sources/editor/Stride.Core.Assets.Editor.Avalonia/Themes/PropertyViewTheme.axaml
  sources/editor/Stride.Core.Assets.Editor.Avalonia/Views/DefaultPropertyTemplateProviders.axaml
  sources/editor/Stride.Core.Assets.Editor.Avalonia/Views/PropertyTemplateProviderSelector.cs
  sources/editor/Stride.Core.Assets.Editor.Avalonia/Views/SettingsStringFromAcceptableValuesTemplateProvider.cs
  sources/editor/Stride.Core.Assets.Editor/Quantum/NodePresenters/Keys/SettingsData.cs
  sources/editor/Stride.Core.Assets.Editor/Quantum/NodePresenters/Updaters/SettingsPropertyNodeUpdater.cs
  sources/editor/Stride.Core.Assets.Editor/Settings/EditorSettings.cs
  sources/editor/Stride.Core.Assets.Editor/Settings/PackageSettingsWrapper.cs
  sources/editor/Stride.Core.Assets.Editor/ViewModels/SettingsCategoryViewModel.cs
  sources/editor/Stride.Core.Assets.Editor/ViewModels/SettingsViewModel.cs
  sources/editor/Stride.GameStudio.Avalonia/App.axaml.cs
  sources/editor/Stride.GameStudio.Avalonia/Services/EditorDialogService.cs
  sources/editor/Stride.GameStudio.Avalonia/ViewModels/MainViewModel.cs
  sources/editor/Stride.GameStudio.Avalonia/Views/DebugWindow.axaml.cs
  sources/editor/Stride.GameStudio.Avalonia/Views/MainView.axaml
  sources/editor/Stride.GameStudio.Avalonia/Views/PropertyGridView.axaml
  sources/editor/Stride.GameStudio.Avalonia/Views/SettingsWindow.axaml
  sources/editor/Stride.GameStudio.Avalonia/Views/SettingsWindow.axaml.cs
  sources/presentation/Stride.Core.Presentation.Avalonia/Behaviors/ButtonCloseWindowBehavior.cs
  sources/presentation/Stride.Core.Presentation.Avalonia/Behaviors/CloseWindowBehavior.cs
Labels: area-GameStudio, work-estimate-S

#2819 feat: styles for theme variants
  sources/editor/Stride.Core.Assets.Editor.Avalonia/Views/DefaultPropertyTemplateProviders.axaml
  sources/editor/Stride.Core.Assets.Editor/Settings/EditorSettings.cs
  sources/editor/Stride.GameStudio.Avalonia/App.axaml
  sources/editor/Stride.GameStudio.Avalonia/App.axaml.cs
  sources/editor/Stride.GameStudio.Avalonia/Themes/DefaultStyles.axaml
  sources/editor/Stride.GameStudio.Avalonia/Views/AboutWindow.axaml
  sources/editor/Stride.GameStudio.Avalonia/Views/PropertyGridView.axaml
  sources/launcher/Stride.Launcher/App.axaml
  sources/launcher/Stride.Launcher/Stride.Launcher.csproj
  sources/launcher/Stride.Launcher/Views/MainView.axaml
  sources/presentation/Stride.Core.Presentation.Avalonia/Assets/Images/error-32.png
  sources/presentation/Stride.Core.Presentation.Avalonia/Assets/Images/info-32.png
  sources/presentation/Stride.Core.Presentation.Avalonia/Assets/Images/question-32.png
  sources/presentation/Stride.Core.Presentation.Avalonia/Assets/Images/warning-32.png
  sources/presentation/Stride.Core.Presentation.Avalonia/Stride.Core.Presentation.Avalonia.csproj
  sources/presentation/Stride.Core.Presentation.Avalonia/Themes/HyperlinkStyle.axaml
  sources/presentation/Stride.Core.Presentation.Avalonia/Windows/CheckedMessageBox.axaml
  sources/presentation/Stride.Core.Presentation.Avalonia/Windows/CheckedMessageBox.axaml.cs
  sources/presentation/Stride.Core.Presentation.Avalonia/Windows/GeometryResources.axaml
  sources/presentation/Stride.Core.Presentation.Avalonia/Windows/MessageBox.axaml
  sources/presentation/Stride.Core.Presentation.Avalonia/Windows/MessageBox.axaml.cs
Labels: area-GameStudio, work-estimate-L

#2821 fix: DoubleExtension & IntExtension
  sources/presentation/Stride.Core.Presentation.Avalonia/MarkupExtensions/DoubleExtension.cs
  sources/presentation/Stride.Core.Presentation.Avalonia/MarkupExtensions/IntExtension.cs
Labels: area-GameStudio, bug-fix
