Repository stride3d/stride, pull requests merged in 2025-04, with the labels that each got.

#2527 feat: User-defined assets support (ScriptableObject like data types and more)
  sources/assets/Stride.Core.Assets.Quantum/AssetNodeContainer.cs
  sources/editor/Stride.Assets.Presentation/AssemblyReloading/GameStudioAssemblyReloader.cs
  sources/editor/Stride.Assets.Presentation/AssetEditors/GameEditor/ViewModels/GameEditorChangePropagator.cs
  sources/editor/Stride.Core.Assets.Editor/ViewModel/AssetViewModel.cs
  sources/editor/Stride.Core.Assets.Editor/ViewModel/SessionNodeContainer.cs
  sources/editor/Stride.Editor/EditorGame/ContentLoader/LoaderReferenceManager.cs
  sources/presentation/Stride.Core.Presentation.Quantum/Presenters/NodePresenterFactory.cs
  sources/presentation/Stride.Core.Quantum.Tests/TestPrimitiveMembers.cs
  sources/presentation/Stride.Core.Quantum/DefaultNodeBuilder.cs
  sources/presentation/Stride.Core.Quantum/INodeBuilder.cs
  sources/presentation/Stride.Core.Quantum/IPrimitiveTypeFilter.cs
Labels: area-Asset

#2705 chore: Update bepu to 2.5.0-beta.25
  sources/Directory.Packages.props
Labels: area-Physics

#2697 fix: Non-default RenderGroup and changing RenderGroup at runtime for UI
  sources/engine/Stride.UI/Rendering/UI/UIRenderProcessor.cs
Labels: area-UI

#2702 fix: Handle initial collection items appropriately, YAML
  sources/assets/Stride.Core.Assets.Tests/Yaml/TestCollectionIdsSerialization.cs
  sources/assets/Stride.Core.Assets/Yaml/CollectionWithIdsSerializer.cs
  sources/assets/Stride.Core.Assets/Yaml/CollectionWithIdsSerializerBase.cs
  sources/assets/Stride.Core.Assets/Yaml/DictionaryWithIdsSerializer.cs
  sources/core/Stride.Core.Reflection/TypeDescriptors/DictionaryDescriptor.cs
  sources/core/Stride.Core.Yaml/Serialization/Serializers/CollectionSerializer.cs
  sources/core/Stride.Core.Yaml/Serialization/Serializers/DictionarySerializer.cs
Labels: area-Asset

#2700 feat: Cleanup editor UI for CollidableComponents
  sources/engine/Stride.BepuPhysics/Stride.BepuPhysics/BodyComponent.cs
  sources/engine/Stride.BepuPhysics/Stride.BepuPhysics/CollidableComponent.cs
  sources/engine/Stride.BepuPhysics/Stride.BepuPhysics/Definitions/Colliders/CompoundCollider.cs
Labels: area-Physics

#2701 feat: SetTargetPose and deprecate setters for Position and Orientation
  sources/engine/Stride.BepuPhysics/Stride.BepuPhysics/BodyComponent.cs
Labels: area-Physics

#2719 fix: internal exception being thrown when selecting a EntityComponent type in interface properties + drag and drop support
  sources/editor/Stride.Assets.Presentation/NodePresenters/Commands/SetComponentReferenceCommand.cs
  sources/editor/Stride.Assets.Presentation/NodePresenters/Updaters/EntityHierarchyAssetNodeUpdater.cs
  sources/editor/Stride.Core.Assets.Editor/Quantum/NodePresenters/Updaters/AbstractNodeEntryNodeUpdater.cs
Labels: area-GameStudio

#2722 fix: Avoid race condition in parallelized contact event collection
  sources/engine/Stride.BepuPhysics/Stride.BepuPhysics/BepuSimulation.cs
  sources/engine/Stride.BepuPhysics/Stride.BepuPhysics/Definitions/Contacts/ContactEventsManager.cs
Labels: area-Physics

#2714 fix: AlphaBlendColorValue key retrieved as <Color4> through reflection causing issues when serialized
  sources/engine/Stride.Rendering/Rendering/Materials/ComputeColors/ComputeColor.cs
  sources/engine/Stride.Rendering/Rendering/Materials/ComputeColors/ComputeFloat4.cs
  sources/engine/Stride.Rendering/Rendering/Materials/ComputeColors/Shaders/ComputeColorConstantColor3Link.sdsl
  sources/engine/Stride.Rendering/Rendering/Materials/ComputeColors/Shaders/ComputeColorConstantColor3Link.sdsl.cs
Labels: area-Graphics

#2724 docs: README.md - Update Visual Studio 2022 installation notes
  README.md
Labels: area-Doc

#2718 fix: yaml, rollback trimming of the override tag when parsing collection index to ensure inputs can be re-used
  sources/assets/Stride.Core.Assets.Tests/TestAssetInheritance.cs
  sources/assets/Stride.Core.Assets/Yaml/AssetObjectSerializerBackend.cs
Labels: area-GameStudio

#2717 fix: Optimize assembly reloading
  sources/editor/Stride.Assets.Presentation/AssemblyReloading/GameStudioAssemblyReloader.cs
  sources/editor/Stride.Assets.Presentation/AssetEditors/GameEditor/ViewModels/GameEditorChangePropagator.cs
Labels: area-GameStudio
